@import "./secciones/header"; 
@import "./secciones/index";
@import "./secciones/bio";
@import "./secciones/discografia";
@import "./secciones/tour";
@import "./secciones/contacto";
@import "./secciones/footer";

@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url(../assets/fonts/Source_Sans_Pro.zip);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}