/*footer*/
      .footer {
        padding: 2rem 0;}
        .pie-footer .container {
          text-align: center;
          margin-top: 10rem; 
         }
          .pie-footer .container .footer-logo {
            height: 40px;
           }
            @media screen and (max-width: 425px) {
              .pie-footer .container .footer-logo {
                height: 30px;
               } }
          .pie-footer .container .iconos {
            font-size: 1.3rem;
            margin: 0 20px;
            color: #fff;
            padding: 20px 0; }
            .pie-footer .container .iconos:hover {
              color: #919191;
             }
          .pie-footer .container .footer_parrafo {
            font-size: 1rem;
            font-weight: 400;
            color: #fff; }
              .pie-footer .container .footer_parrafo {
                text-align: center; } 
              .pie-footer .container .footer_parrafo{ 
                font-size: 0.8rem }
                           
              
              

    
    
    
  
    
    
      
        